@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');
@import 'bootstrap_custom.css';

/**  Basic Page CSS **/
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2em;
}

body.modal-open {overflow: hidden !important;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

/**  Header Navigation **/

header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 600;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: white;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Brand **/

header .navbar-brand {
  background: url(../images/wisdompetlogo.svg);
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 300;
  padding-left: 105px;
}

header .navbar-brand span.subhead {
  display: block;
  font-size: .6em;
  font-weight: 300;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #417D9A;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}

/**  nav inbody **/

header .inbody {
  background: rgba(71, 90, 97,.8);
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}

/**  Carousel Fade **/

.carousel {
  height: 100vh;
  background-color: #1B7998;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

/**  Page **/
.page {
  padding: 40px 0;
  font-size: 1.7rem;
  line-height:100%;
}

.page-headline {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.page-description {
  font-size: 1.1em;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

#adoption .col-xs-1, #adoption .col-sm-1, #adoption .col-md-1, #adoption .col-lg-1, #adoption .col-xs-2, #adoption .col-sm-2, #adoption .col-md-2, #adoption .col-lg-2, #adoption .col-xs-3, #adoption .col-sm-3, #adoption .col-md-3, #adoption .col-lg-3, #adoption .col-xs-4, #adoption .col-sm-4, #adoption .col-md-4, #adoption .col-lg-4, #adoption .col-xs-5, #adoption .col-sm-5, #adoption .col-md-5, #adoption .col-lg-5, #adoption .col-xs-6, #adoption .col-sm-6, #adoption .col-md-6, #adoption .col-lg-6, #adoption .col-xs-7, #adoption .col-sm-7, #adoption .col-md-7, #adoption .col-lg-7, #adoption .col-xs-8, #adoption .col-sm-8, #adoption .col-md-8, #adoption .col-lg-8, #adoption .col-xs-9, #adoption .col-sm-9, #adoption .col-md-9, #adoption .col-lg-9, #adoption .col-xs-10, #adoption .col-sm-10, #adoption .col-md-10, #adoption .col-lg-10, #adoption .col-xs-11, #adoption .col-sm-11, #adoption .col-md-11, #adoption .col-lg-11, #adoption .col-xs-12, #adoption .col-sm-12, #adoption .col-md-12, #adoption .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

#adoption {
  background-color: #8AC8E1;
}

#adoption .page-headline {
  color: hsl(202, 45%, 37%);
}

#adoption img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

#appointments {
  line-height:100%;
  background: hsl(38, 24%, 87%);
}

#appointments .page-headline {
  color: hsl(10, 79%, 38%);
}

#appointments .appointment {
  border-bottom: 1px solid hsl(38, 24%, 67%);
  cursor: pointer;
  margin-top: 0;
  padding: 15px 0 15px 15px;
}

#appointments .appointment:hover {
  background: hsl(38, 24%, 77%);
}

#appointments .appointment-img {
  width: 100px;
}

#appointments .appointment-heading {
  font-size: 1.6em;
  color: hsl(10, 79%, 28%);
}

#appointments .appointment-breed {
  color: hsla(10, 100%, 28%,.7);
  font-size: .6em;
  font-weight: 600;
}

#appointments .appointment-owner-title {
  font-weight: 600;
  color: rgba(0,0,0,.6);
}

#appointments .appointment-owner-name {
  font-weight: 300;
  color: rgba(0,0,0,.5);
  font-size: .95em;
}

#appointments .appointment-reason {
  margin-top: 5px;
  font-size: .85em;
  /*font-style: italic;*/
}

#appointments .col-xs-1, #appointments .col-sm-1, #appointments .col-md-1, #appointments .col-lg-1, #appointments .col-xs-2, #appointments .col-sm-2, #appointments .col-md-2, #appointments .col-lg-2, #appointments .col-xs-3, #appointments .col-sm-3, #appointments .col-md-3, #appointments .col-lg-3, #appointments .col-xs-4, #appointments .col-sm-4, #appointments .col-md-4, #appointments .col-lg-4, #appointments .col-xs-5, #appointments .col-sm-5, #appointments .col-md-5, #appointments .col-lg-5, #appointments .col-xs-6, #appointments .col-sm-6, #appointments .col-md-6, #appointments .col-lg-6, #appointments .col-xs-7, #appointments .col-sm-7, #appointments .col-md-7, #appointments .col-lg-7, #appointments .col-xs-8, #appointments .col-sm-8, #appointments .col-md-8, #appointments .col-lg-8, #appointments .col-xs-9, #appointments .col-sm-9, #appointments .col-md-9, #appointments .col-lg-9, #appointments .col-xs-10, #appointments .col-sm-10, #appointments .col-md-10, #appointments .col-lg-10, #appointments .col-xs-11, #appointments .col-sm-11, #appointments .col-md-11, #appointments .col-lg-11, #appointments .col-xs-12, #appointments .col-sm-12, #appointments .col-md-12, #appointments .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.modal {
  height: 100vh;
}

.modal-dialog {
  /*width: 90%
  margin: 30px auto;*/
  padding: 30px;
}

/* TRYING TO FIX MODAL LEFTMOVE */

.modal-open { overflow: hidden; padding: 0px !important; }
.modal { overflow: hidden; }

/* END */

.modal-body {
  padding: 0;
}

.modal-petname {
  color: hsl(10, 79%, 48%);
}

.modal-petbreed {
  font-size: .7em;
}

.modal-content img{
  width: 100%;
}

.modal-content p {
  font-size: .8em;
  padding: 15px;
}

.list-group-item img {
  width: 100px;
}


.loader {
  background-color: rgba(27, 121, 152,.9);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-text {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.progress {
  width: 40%;
  max-width: 200px;
}

.reloadbtn {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.reloadbtn-lg {
  width: 50px;
  height: 50px;
  display: none;
  float: right;
  padding: 9px 10px 9px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .reloadbtn {
    display: none;
  }

  .reloadbtn-lg {
    display:inline;
  }
}

#slideshow-content {padding: 0 !important;}

.viewportPage {
  background-color: gray;
  height: 100vh;
}  /* Add this class to make page tall as the viewport: 100vh; So anything that is a page or slideshow, is going to get a height of 100vh, the viewport height, which is as tall as your current viewport, or in the case of just desktop browsers, it's just going to be the size of our browser. */
