<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Progressive Web Apps</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="manifest" href="/manifest.json">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Wisdom Pet">
  <meta name="apple-touch-icon" content="images/icons/icon-152x152.png">

  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">
</head>

<body>

<div class="loader">
  <div class="loader-text">Ci vuole pazienza!</div>
  <div class="progress"> <!-- SENZA IL DIV PROGRESS FACEVA EFFETTO MURO A RIGHE E SCRITTA IN ALTO -->
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:100%"></div>

  </div> <!-- progress -->
</div> <!-- loader -->

<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <img class="reload reloadbtn-lg" src="images/icons/icon_reload.svg" alt="Reload Button" />
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#slideshow"><h1>Wisdom <span class="subhead">Pet</span></h1></a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><img class="reload reloadbtn" src="images/icons/icon_reload.svg" alt="Reload Button" /></li>
          <li class="active"><a href="#slideshow">Home</a></li>
          <li><a href="#adoption">Adoption</a></li>
          <li><a href="#appointments">Appointments</a></li>
        </ul>
      </div><!-- navbar-collapse -->
    </div><!-- navbar container -->
  </nav> <!-- nav -->
  <script id="slideshow-template" type="text/x-handlebars-template">
    <div class="carousel fade" data-ride="carousel" id="slideshow">
      <div class="carousel-inner">
        {{#each slideshow}}
          {{#if @first}}
            <div class="item active"><img src="images/pets/{{filename}}.jpg" alt="{{pet}} photo"/></div>
          {{else}}
            <div class="item"><img src="images/pets/{{filename}}.jpg" alt="{{pet}} photo"/></div>
          {{/if}}
        {{/each}}
      </div><!-- carousel-inner -->
      <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev"></a>
      <a class="right carousel-control" href="#slideshow" role="button" data-slide="next"></a>
    </div><!-- carousel fade -->
  </script>
  <div class="page viewportPage" id="slideshow-content"></div>
</header>
<main>
  <div class="page viewportPage" id="adoption">
    <div class="container">
      <h2 class="page-headline">Adoptions</h2>
      <p>These loving and deserving pets need a home. Please help us find a place for them. Click on their photo for more informations.</p>
      <script id="adoption-template" type="text/x-handlebars-template">
        {{#each adoption}}
          <div class="col-md-2 col-sm-3 col-xs-4 openpetmodal" data-toggle="modal" data-target="#pet-modal" data-petname="{{pet}}" data-petbreed="{{breed}}" data-petowner="{{owner}}" data-petinfo="{{description}}" data-petimage="{{filename}}">
            <img class="img-circle" src="images/pets/{{filename}}_tn.jpg" alt="{{pet}} photo" />
          </div> <!-- column -->
        {{/each}}
      </script>
      <div id="adoption-content"></div>
    </div> <!-- container -->
  </div> <!-- page-adoption -->

  <div class="page viewportPage" id="appointments">
    <div class="container">
      <h2 class="page-headline">Appointments</h2>
      <p>Here are a few appointments you maybe want to remember.</p>

      <script id="appointments-template" type="text/x-handlebars-template">
        {{#each appointments}}
          <div class="appointment media openpetmodal" data-toggle="modal" data-target="#pet-modal" data-petname="{{pet}}" data-petbreed="{{breed}}" data-petowner="{{owner}}" data-petinfo="{{reason}}" data-petimage="{{filename}}">
            <div class="media-left media-top">
              <img class="media-object appointment-img img-rounded" src="images/pets/{{filename}}_tn.jpg" alt="{{petname}} photo" />
            </div> <!-- media-left media-top -->
            <div class="media-body">
              <h3 class="media-heading appointment-heading">{{pet}}, <span class="appointment-breed">{{breed}}</span></h3>
              <div class="appointment-owner"><span class="appointment-owner-title">Owner: </span><span class="appointment-owner-name">{{owner}}</span></div>
              <div class="appointment-reason">{{reason}}</div>
            </div><!-- media-body -->
          </div> <!-- appointment media openpetmodal -->
        {{/each}}
      </script>
      <div id="appointments-content"></div>
    </div> <!-- container -->
  </div> <!-- page-appointment -->
</main>

<div class="modal fade" id="pet-modal" tabindex="-1" role="dialog" aria-labelledby="petModal">
  <div class="modal-dialog" data-dismiss="modal" aria-label="Close" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" role="document"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title modal-petname"></h2>
        <div class="modal-petbreed"></div>
      </div> <!-- modal-header -->
      <div class="modal-body">
        <img class="img-responsive modal-petimage" />
        <p class="modal-petinfo"></p>
      </div> <!-- modal-body -->
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal fade -->

<script src="js/app.js"></script>
</body>
</html>
